<html ng-app><head><script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
<style>

    body {
        text-align: center;

        background-color: orange;
    }
    #reset{

        width: 120px;
    }
    h1 {
        margin: 20px;
    }
    .player{
        font-size: x-large;
        font-weight: 900;
        color: white;
    }
    .btn-primary{
        font-size: x-large;
        font-weight: 900;
        color: red;

        height: 70px;
        width: 70px;
        border-radius: 50px;
        background-color: gold;
    }
</style>

</head>
<body ng-controller="TicController">
<h1 style="color: aqua;font-weight: 900">Tic Tac Toe!</h1>

<div class="container">
    <div>
        <div>
            <button class="btn-primary btn-lg" ng-repeat="cell in series[0]" ng-disabled="isTaken(cell);" ng-click="move(cell);">{{ cell.value }}</button>
        </div>
        <div>
            <button class="btn-primary btn-lg" ng-repeat="cell in series[1]" ng-disabled="isTaken(cell);" ng-click="move(cell);">{{ cell.value }}</button>
        </div>
        <div>
            <button class="btn-primary btn-lg" ng-repeat="cell in series[2]" ng-disabled="isTaken(cell);" ng-click="move(cell);">{{ cell.value }}</button>
        </div>
        <br/>
        <p>
            <span class="player" ng-hide="winner || cat">Current Player: {{ currentPlayer }}</span>
            <hr style="border-color: blue">
            <span class="player" >Winner {{ currentPlayer }} won!</span>
            <span ng-show="cat">Cat</span>
        </p>
    </div>
</div>

<button ng-click="reset();"id="reset" class="btn btn-primary btn-large">New Game</button>
<script>
    var TicController = function($scope) {
        $scope.series = [
            [ { value: '-' }, { value: '-' }, { value: '-' } ],
            [ { value: '-' }, { value: '-' }, { value: '-' } ],
            [ { value: '-' }, { value: '-' }, { value: '-' } ]
        ];
        $scope.reset = function() {
            $scope.currentPlayer = 'X';
            $scope.winner = false;
            $scope.cat = false;
        };
        $scope.reset();
        $scope.isTaken = function(cell) {
            return cell.value !== '-';
        };
        var checkForEndOfGame = function() {

            return $scope.winner || $scope.cat;
        };
        $scope.move = function(cell) {
            cell.value = $scope.currentPlayer;
            if (checkForEndOfGame() === false) {
                $scope.currentPlayer = $scope.currentPlayer === 'X' ? 'O' : 'X';
            }
        };
    };
</script>
</body>
</html>